"""
Kind: Aggregate
Name: {{ target.name }}
Description: {{ target.description }}
"""

from codegen.domain.shared.models import AggregateRoot
{% for import in imports %}
{{ import }}{% endfor %}

class {{ target.name }}(AggregateRoot):
    """{{ target.description }}"""
{% for attr in target.attributes %}
    {{ attr.name }}: {{ attr.type }}{% endfor %}

{% for behavior in target.behaviors %}
    def {{ behavior.name }}(self, {% for input in behavior.inputs %}{{ input.name }}: {{ input.type }}{% if not loop.last %}, {% endif %}{% endfor %}) -> {{ behavior.output.type }}:
        """ TODO: implement {{ behavior.name }}"""

{% endfor %}
