from abc import ABC, abstractmethod
{% for imp in imports %}
{{ imp }}{% endfor %}

class {{ name }}(ABC):
    """
    {{ description }}
    """
    {% for op in operations %}
    @abstractmethod
    def {{ op.name }}(self, {% for input in op.inputs %}{{ input.name }}: {{ input.type }}{% if not loop.last %}, {% endif %}{% endfor %}) -> {{ op.output_type }}:
        {% if op.description %}"""
        {{ op.description }}
        """{% endif %}
        ...
    {% endfor %}
