from abc import ABC, abstractmethod
{% for imp in imports %}
{{ imp }}{% endfor %}

class {{ name }}(ABC):
    """
    {{ description }}
    """
    {% for op in target.operations %}
    @abstractmethod
    def {{ op.name }}(
            self, {% for input in op.inputs %}
            {{ input.name }}: {{ input.type }}{% if not loop.last %}, {% endif %}{% endfor %}
    ) -> {{ op.output.type }}:
        {% if op.description %}"""
        {{ op.description }}
        """{% endif %}
        ...
    {% endfor %}
