from typing import Any

class {{ pascal }}Mapper:
    """Optional mapper for DTO <-> domain translation."""

    def to_domain(self, data: Any) -> Any:
        return data

    def from_domain(self, data: Any) -> Any:
        return data