{% for decorator in enum_spec.decorators %}
@{{ decorator }}
{% endfor -%}
class {{ enum_spec.name }}({{ enum_spec.base_class }}):
    {% if enum_spec.description %}"""{{ enum_spec.description }}"""{% endif %}
    {%- if not enum_spec.members %}
    pass
    {%- endif %}
    {%- for member in enum_spec.members %}
    {{ member.name }}{% if member.value is not none %} = {{ member.value | repr if member.value is string else member.value }}{% endif %}
    {%- if member.description %}
    """{{ member.description }}"""
    {%- endif %}
    {% endfor %}
